body {
    background-color: #FFF0F5;
    padding: 20px;
}

form {
    background: #FFF0F5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-top: 10px;
}